*.7z
*.a
*.app
*.bak
*.class
*.dll
*.dmg
*.dylib
*.ear
*.elf
*.exe
*.gz
*.iml
*.iso
*.jar
*.ko
*.lib
*.log
*.o
*.obj
*.out
*.part
*.rar
*.so.*
*.swp
*.tar
*.tmp
*.un~
*.war
*.zip
*~
*~.nib
.AppleDouble
.DS_Store
.LSOverride
.README.md.html
.Spotlight-V100
.Trashes
._*
.cache
.classpath
.gradle
.history
.idea
.lib/
.loadpath
.metadata
.mtj.tmp
.netrwhist
.project
.settings/
.target
Session.vim
bin/
build/
dependency-reduced-pom.xml
dist/
dist/*
gradle-app.setting
hs_err_pid*
lib_managed/
local.properties
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
project/boot/
project/plugins/project/
src_managed/
target/
tmp/
workbench.xmi
config/
eula.txt
logs/
mods/
options.txt
resourcepacks/
saves/
server.properties
